---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jupyterhub
  namespace: dev
spec:
  interval: 15m
  chart:
    spec:
      chart: jupyterhub
      version: 2.0.0
      sourceRef:
        kind: HelmRepository
        name: jupyterhub
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    hub:
      config:
        GitHubOAuthenticator:
          client_id: "${SECRET_JUPYTERHUB_CLIENT_ID}"
          client_secret: "${SECRET_JUPYTERHUB_CLIENT_SECRET}"
          oauth_callback_url: "https://jupyter.${SECRET_DOMAIN}/hub/oauth_callback"
        JupyterHub:
          authenticator_class: github
    singleuser:
      image:
        name: jupyter/datascience-notebook
        tag: latest
      profileList:
        - display_name: "Minimal environment"
          description: "To avoid too much bells and whistles: Python."
        - display_name: "Datascience environment"
          description: "If you want the additional bells and whistles: Python, R, and Julia."
          kubespawner_override:
            image: jupyter/datascience-notebook:latest
          default: true
        - display_name: "Haskell environment"
          description: "The Jupyter Stacks ihaskell"
          kubespawner_override:
            image: ghcr.io/jamesdbrock/ihaskell-notebook:master
      extraEnv:
        EDITOR: "vim"
      storage:
        dynamic:
          storageClass: ceph-block

    ingress:
      enabled: true
      annotations:
        external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
        hajimari.io/icon: simple-icons:jupyter
      hosts:
        - &host "jupyter.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
