---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-apps-sonarr
  namespace: flux-system
spec:
  # TODO
  # dependsOn:
  #   - name: cluster-apps-external-secrets-stores
  #   - name: cluster-apps-rook-ceph-cluster
  #   - name: cluster-apps-volsync
  path: ./kubernetes/apps/downloads/sonarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: sonarr
      namespace: downloads
  interval: 30m
  retryInterval: 1m
  timeout: 3m
